body {
	margin: 0;
	padding: 0;
}
#app {
	max-width: 1280px;
	margin: 0 auto;
	font-weight: normal;
}

a,
.green {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.4s;
	padding: 10px;
	font-weight: 700;
}

@media (hover: hover) {
	a:hover {
		border: none;
		border-radius: 5px;
	}
	a:hover::after {
		border: 1px;
	}
}
